* {
    -base: #C4C4C4;
    -oscuro: #222526;
    -letras: white;
    -color1: #a34313;
    -color2: #903b12;
    -color3: #d96e3a;
    -color4: #c54e2c;
    -color5: #ea7f4b;
    -colora: #9d4024;
    -colorb: #d86e3a;
    -my-bg: none;
    -celda1: rgba(255, 248, 33, .5);
    -celda2: rgba(255, 159, 160, .5);
    -celda3: rgba(255, 205, 158, .5);
}
.boton{
    -fx-background-color: -base;
}

.boton:hover {
    -fx-background-color: -oscuro;
    -fx-text-fill: -letras;
}

/* kkkllkklklk */
.sale
{
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0,0 0 6 0,0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
        linear-gradient(from 0% 93% to 0% 100%,-color1 0%,-color2 100%),
        -colora,
        -colorb,
        radial-gradient(center 50% 50%, radius 100%,-color3,-color4);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75),4,0,0,1);
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
    -fx-text-fill: white;
}

.sale:hover
{

    -fx-background-color:
        linear-gradient(from 0% 93% to 0% 100%,-color1 0%,-color2 100%),
        -colora,
        -colorb,
        radial-gradient(center 50% 50%,radius 100%,-color5,-color4);
}

.sale:pressed
{
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0,2 0 4 0,2 0 5 0;

}




/* Tabla */
.cell-renderer-changed {
    /*-celda: rgba(255, 248, 33, .5);*/
    -fx-background-color: -celda1;
}

.cell-renderer-error {
    /*-celda: rgba(255, 159, 160, .5);*/
    -fx-background-color: -celda2;
}

.cell-renderer-error-and-changed {
    /*-celda: rgba(255, 205, 158, .5);*/
    -fx-background-color: -celda3;
}

/* Restore default behaviour from caspian.css */
.cell-renderer-changed:hover, .cell-renderer-error:hover, .cell-renderer-error-and-changed:hover {
    -fx-background-color: -fx-table-cell-border-color, -fx-cell-hover-color;
    -fx-background-insets: 0, 0 0 1 0;
}

.cell-renderer-changed:selected, .cell-renderer-error:selected, .cell-renderer-error-and-changed:selected {
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: -fx-selection-bar-text;
    -fx-background-insets: 0 0 1 0;
}

.cell-renderer-changed:focused:selected, .cell-renderer-error:focused:selected, .cell-renderer-error-and-changed:focused:selected {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-selection-bar;
    -fx-background-insets: 0 1 0 0, 1 2 1 1, 2 3 2 2;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}

.cell-renderer-changed:focused, .cell-renderer-error:focused, .cell-renderer-error-and-changed:focused {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -celda1;
    /*-fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, transparent;*/
    -fx-background-insets: 0 1 0 0, 1 2 1 1, 2 3 2 2;
}